---
layout: cat-tag
---
{% if page.grouptype == 'tag' %}
<div>
	<h1 class="page-title"> {{page.tag}}</h1>
</div>
{% elsif page.grouptype == 'category' %}
<div >
	<h1 class="page-title"> {{page.category}}</h1>
</div>
{% endif %}

{% for post in paginator.posts %}
	{% include code/cat-tag/post_row.html %}
{% endfor %}
	
{% if page.grouptype == 'tag' %}
	{% capture paging_root %}/tag/{{page.tag}}/{% endcapture %}
{% elsif page.grouptype == 'category' %}
	{% capture paging_root %}/category/{{page.category}}/{% endcapture %}
{% else %}
	{% capture paging_root %}/{% endcapture %}
{% endif %}
{% include code/cat-tag/paging_buttons.html %}