<div id="share-buttons">
  
<!-- Digg -->
<a href="http://www.digg.com/submit?url=http://www.saaac.co.za" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>
 
<!-- Reddit -->
<a href="http://reddit.com/submit?url=http://www.saaac.co.za&title=SAAAC -SA Academy of Applied Competence" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
 
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.saaac.co.za" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
  
<!-- StumbleUpon-->
<a href="http://www.stumbleupon.com/submit?url=http://www.saaac.co.za&title=SAAAC -SA Academy of Applied Competence" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>

<!-- Google+ -->
<a href="https://plus.google.com/share?url=http://www.saaac.co.za" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

<!-- Twitter -->
<a href="http://twitter.com/share?url=http://www.saaac.co.za&text=SAAAC -SA Academy of Applied Competence" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http://www.saaac.co.za" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
<!-- Email -->
<a href="mailto:?Subject=SAAAC&Body=I%20saw%20this%20and%20thought%20you%20might%20want%20to%20look%20at%20it http://www.saaac.co.za"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>

</div>