<div class="col4-0">
  <div class="col4-left">
      <h4> Left </h4>
      <p> This is some text </p>
   </div> <! -- end of col-right div -->
   <div class="col4-mid-left">
      <h4> Middle Left </h4>
      <p> This is some text </p>
   </div> <! -- end of col-mid-left div -->
   <div class="col4-mid-right">
      <h4> Middle Right </h4>
      <p> This is some text </p>
   </div> <! -- end of col-mid-rigth div -->
   <div class="col4-right">
      <h4> Right </h4>
      <p> This is some text </p>
   </div> <! -- end of col-right div -->
</div> <! -- end of col4 div -->