<!-- AddThis Smart Layers BEGIN -->
      <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
      <!-- Version 20131130 -->
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5299d3261a18d879"></script>
      <script type="text/javascript">
         addthis.layers({
            'theme' : 'transparent',
            'share' : {
               'position' : 'left',
               'numPreferredServices' : 5
               }   
               });
      </script>
<!-- AddThis Smart Layers END -->