<div class="space" style="height:30px;">
</div> <! -- end of space div -->

<div class="search" style="float:right; margin-right:20px;">

<script>
  (function() {
    var cx = '017435595003183829816:ov7u6rrdtu4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

</div> <! -- end of search div -->