<ul class="nav nav-tabs" >
   <li class="navbar-right" > <a href="/blog">News</a> 
   <li class="dropdown navbar-right">
      <a href="#" class="dropdown-toggle" 
      data-toggle="dropdown">About</a>
	   <ul class="dropdown-menu">
	      <li><a href="/contact">Contact</a></li>
         <li><a href="/business-oppertunity"> 
                  Business Opportunity</a></li>
         <li><a href="/press-kit"> Press Kit</a></li>
      </ul>
    </li>
    <li class="dropdown navbar-right">
      <a href="#" class="dropdown-toggle" 
      data-toggle="dropdown">Colleges</a>
	   <ul class="dropdown-menu">
         <li><a href="/queenstown">Queenstown</a></li>
         <li><a href="/durban">Durban</a></li>
      </ul>
    </li>
    <li class="navbar-right" ><a href="/contact">Contact</a></li>
    <li class="navbar-right"> 
            <a href="/accreditations">Accreditations</a> 
   </li>
   <li class="dropdown navbar-right">
       <a href="#" class="dropdown-toggle" 
       data-toggle="dropdown"> Courses
       </a>
	   <ul class="dropdown-menu">
	      <li><a href="/courses">All Courses</a></li>
	      <li><a href="/ithsa-cth">ITHSA-CTH</a></li>
         <li><a href="/abma">ABMA</a></li>
         <li><a href="/icb">ICB</a></li>
      </ul>
   </li>
</ul>



