
<div id="paging">

{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
		<a href="{{paging_root}}" class="paginator"> ← &larr; Previous Page  </a>
	{% else %}
		<a href="{{paging_root}}page{{paginator.previous_page}}" class="paginator" > ← &larr; Previous Page </a>
	{% endif %}
{% else %}
		<a href="#" disabled="disabled" class="paginator"> ← &larr; Previous Page </a>
	</li>
{% endif %}

{% if paginator.next_page %}
	<a href="{{paging_root}}page{{paginator.next_page}}" class="paginator"> Next Page &rarr; → </a>
{% else %}
	<a href="#"  disabled="disabled" class="paginator">  Next Page &rarr; → </a>
{% endif %}

</div>
<div class="clearfix page-bottom"></div>
{% assign type = nil %}
{% assign paging_root = nil %}