<!-- tags can be tagList maybe -->
   <script type="text/javascript">
      window.onload = function() {
        try {
          TagCanvas.Start('tag-canvas-1','tag-canvas-1-tags',{   
            textColour: 'white',
            outlineColour: 'white',
            reverse: true,
            depth: 0.8,
            weight: true,
            weightSizeMin: 20,
            weightSizeMax: 40,
            wheelZoom: false,
            initial: [0.30, 0.03],
            maxSpeed: 0.03,
          });
        } catch(e) {
          // something went wrong, hide the canvas container
          document.getElementById('myCanvasContainer').style.display = 'none';
        }
      };
    </script>
      <div class="myCanvasContainer">
         <canvas width="500" height="500" id="tag-canvas-1">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
         </canvas>
      </div>
      <div id="tag-canvas-1-tags" style='display:none'>
         <ul>
               <li>
                       <a href="/abma"> 
                              <img src="../../assets/img/abma-200-200.png" 
                              alt="abma-200-200" width="200" height="200" />
                       </a> 
               </li>
               <li>
                       <a href="/ithsa-cth"> 
                              <img src="../../assets/img/ithsa-300-100.png" 
                              alt="ithsa-300-100" width="300" height="100" />
                       </a> 
               </li>
               <li>
                       <a href="/ithsa-cth"> 
                              <img src="../../assets/img/cth-300-100.png" 
                              alt="cth-300-100" width="300" height="100" />
                       </a> 
               </li>
               <li>
                       <a href="/icb"> 
                              <img src="../../assets/img/icb-300-100.png" 
                              alt="icb-300-100" width="300" height="100" />
                       </a> 
               </li>
                <li>
                       <a href="/sacai"> 
                               <img src="../../assets/img/sacai-200-200-white-2.png" 
                               alt="sacai-200-200-" width="200" height="200" />
                       </a> 
               </li>              
               
               
              

            
         <!--    {% for tag in site.tags %}
            <li>
               <a href="/tag/{{ tag | first}}"
                  style="font-size: {{tag | last | size | times:100 | divided_by:site.tags.size}}pt">
                  {{ tag | first }}
               </a>
            </li>
            {% endfor %}
          --> 
            
         </ul>
      </div>