      
      <div class="row">
            <div class="col-md-8">
               {% if page.title %}
               <h1 class='page-title'> {{ page.title }} </h1>
               {% endif %}
               <hr/>
               {{ content }}
            </div>
            <div class="col-md-4">
            <h3> Facebook Newsfeed </h3>
            {% include bits/facebook-feed.html%} 
            <h3> Links </h3>
                  <ul>
                     {% for post in site.posts limit: 100 %}
                     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                     {% endfor %}
                  </ul>            
             </div>
      </div>
      
      
