     <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background: black;">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
               <span class="icon-bar" style="background: white;"></span>
            </button> <! -- end of button -->
            <a class="navbar-brand" href="/">Yebojek</a> 
        </div> <! -- end of navbar-header div -->
        <div class="navbar-collapse collapse" style="padding: 0;">
            <ul class="nav nav-tabs" >
               <li class="dropdown navbar-right" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Docs <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                              <li><a href="/posts/standard-sizes">Standard Sizes</a> </li>
                      </ul>
               </li>
               <li class="navbar-right" ><a href="/posts">Posts</a> </li>
               <li class="navbar-right"><a href="/posts/history">History</a></li>
               <li class="navbar-right"><a href="/posts/credits">Credits</a></li>
               <li class="navbar-right"><a href="/posts/box-model">Box Model</a></li>
            </ul>
         </div> <! -- end of navbar-collapse div --> 
      </div> <! -- end of navbar navbar-default div -->