<!DOCTYPE html>
<!-- Head -->
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{ site.name }} | {{ page.title }} </title>
   <meta name="description" content="{{ site.description }}">
   <link href="/css/yebojek-styles.css"rel="stylesheet">
   <link href="/css/styles.css"rel="stylesheet">
   <!--[if lt IE 9]><script type="text/javascript" src="/assets/tagcanvas/excanvas.js"></script><![endif]-->
   <script src="/assets/tagcanvas/tagcanvas.js" type="text/javascript"></script>
</head>
<!-- Visual part -->
<body>
   <div class="site-wrapper">
      <div class="site-container">
<!-- Section-Top -->
         <div class="section-top-wrapper">
            <div class="section-top-container">
               <div class="topbar-wrapper">
                  <div class="topbar-container">
                    {% include areas/topbars/topbar.html%}                    <!-- Select Topbar file here -->
                  </div> <!-- end of topbar-container -->
               </div> <!-- end of topbar-wrapper -->
               <div class="topbanner-wrapper">
                  <div class="topbanner-container">
                     {% include areas/topbanners/topbanner.html%}             <!-- Select Topbanner file here -->
                  </div> <!-- end of topbanner-container -->
               </div> <!-- end of topbanner-wrapper -->
            </div> <!-- end of section-top-container -->
         </div> <!-- end of section-top-wrapper -->
<!-- Section-Nav -->
         <div class="section-nav-wrapper">
            <div class="section-nav-container">
               <div class="navtop-wrapper">
                  <div class="navtop-container">
                     {% include areas/navtops/navtop.html%}                  <!-- Select Navtop file here -->
                  </div> <!-- end of navtop-container -->
               </div> <!-- end of navtop-wrapper -->
               <div class="nav-wrapper">
                  <div class="nav-container">
                     {% include areas/navs/nav.html%}                        <!-- Select Nav file here -->
                  </div> <!-- end of nav-container -->
               </div> <!-- end of nav-wrapper -->
               <div class="navbottom-wrapper">
                  <div class="navbottom-container">
                     {% include areas/navbottoms/navbottom.html%}            <!-- Select Navbottom file here -->
                  </div> <!-- end of navbottom-container -->
               </div> <!-- end of navbottom-wrapper -->
            </div> <!-- end of section-nav-container -->
         </div> <!-- end of section-nav-wrapper -->
<!-- Section-Content -->
         <div class='section-content-wrapper'>
            <div class='section-content-container'> 
               <div class='content-wrapper'>
                  <div class='content-container'>
                     {% include areas/content/content-sidebar-none.html%}    <!-- Choose Content and Sidebar file here -->              
                  </div><!-- End content-container div -->
               </div><!-- End content-wrapper div -->
            </div><!-- End section-content-container div -->
         </div><!-- End section-content-wrapper div -->
<!-- Section-Extra -->
         <div class='section-extra-wrapper'>
            <div class='section-extra-container'> 
               <div class='extra1-wrapper'>
                <div class='extra1-container'>
                   {% include areas/extras/extra1.html%}                     <!-- Select Extra1 file here -->
                  </div><!-- End extra1-container div -->
               </div><!-- End extra1-wrapper div -->
               <div class='extra2-wrapper'>
                <div class='extra2-container'>
                   {% include areas/extras/extra2.html%}                     <!-- Select Extra2 file here -->
                  </div><!-- End extra2-container div -->
               </div><!-- End extra2-wrapper div -->
            </div><!-- End section-extra-container div -->
         </div><!-- End section-extra-wrapper div -->
<!-- Section-Bottom -->
         <div class='section-footer-wrapper'>
            <div class='section-footer-container'> 
               <div class='footer-wrapper'>
                <div class='footer-container'>
                   {% include areas/footers/footer.html%}                     <!-- Select footer file here -->
                </div><!-- End footer-container div -->
               </div><!-- End footer-wrapper div -->
            </div><!-- End section-footer-container div -->
         </div><!-- End section-footer-wrapper div -->     
<!-- End Code -->      
      </div> <!-- end of site-container -->
   </div> <!-- end of site-wrapper -->
</body>
</html>