<!DOCTYPE html>
<!-- Head -->
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{ site.name }} | {{ page.title }} </title>
   <meta name="description" content="{{ site.description }}">
   <script src="/assets/jquery/jquery.js" type="text/javascript"></script>
   <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>  <!-- Bootstrap core CSS -->
   <link href="/assets/yebojek/css/yebojek.css"rel="stylesheet" type="text/css"/> <!-- Yebojek core CSS -->
   <!--[if lt IE 9]><script type="text/javascript" src="/assets/tagcanvas/excanvas.js"></script><![endif]-->
   <script src="/assets/tagcanvas/tagcanvas.js" type="text/javascript"></script>
</head>
<!-- Visual part -->
<body>
   <div class="site-wrapper">
      <div class="site-container">
<!-- Section-Top -->
         <div class="section-top-wrapper">
            <div class="section-top-container">
               <div class="topbar-wrapper">
                  <div class="topbar-container">
                    {% include areas/topbar.html%}                    <!-- Select Topbar file here -->
                  </div> <!-- end of topbar-container -->
               </div> <!-- end of topbar-wrapper -->
               <div class="header-wrapper">
                  <div class="header-container">
                     {% include areas/header.html%}             <!-- Select Topbanner file here -->
                  </div> <!-- end of header-container -->
               </div> <!-- end of header-wrapper -->
                <div class="nav-wrapper">
                  <div class="nav-container">
                     {% include areas/nav.html%}                        <!-- Select Nav file here -->
                  </div> <!-- end of nav-container -->
               </div> <!-- end of nav-wrapper -->
            </div> <!-- end of section-top-container -->
         </div> <!-- end of section-top-wrapper -->
<!-- Section-Content -->
         <div class='section-content-wrapper'>
            <div class='section-content-container'> 
               <div class='content-header-wrapper'>
                  <div class='content-header-container'>
                     {% include areas/content-header.html%}    <!-- Choose Content-footer and Sidebar file here -->              
                  </div><!-- End content-header-container div -->
               </div><!-- End content-header-wrapper div -->
               <div class='content-wrapper'>
                  <div class='content-container'>
                     {% include areas/content.html%}    <!-- Choose Content and Sidebar file here -->              
                  </div><!-- End content-container div -->
               </div><!-- End content-wrapper div -->
               <div class='content-footer-wrapper'>
                  <div class='content-footer-container'>
                     {% include areas/content-footer.html%}    <!-- Choose Content-footer and Sidebar file here -->              
                  </div><!-- End content-footer-container div -->
               </div><!-- End content-footer-wrapper div -->
            </div><!-- End section-content-container div -->
         </div><!-- End section-content-wrapper div -->
<!-- Section-Bottom -->
         <div class='section-bottom-wrapper'>
            <div class='section-bottom-container'> 
               <div class='extra-wrapper'>
                <div class='extra-container'>
                   {% include areas/extra.html%}                     <!-- Select extra file here -->
                  </div><!-- End extra-container div -->
               </div><!-- End extra-wrapper div -->
               <div class='footer-wrapper'>
                <div class='footer-container'>
                   {% include areas/footer.html%}                     <!-- Select footer file here -->
                </div><!-- End footer-container div -->
               </div><!-- End footer-wrapper div -->
            </div><!-- End section-bottom-container div -->
         </div><!-- End section-bottom-wrapper div -->
      </div> <!-- end of site-container -->
   </div> <!-- end of site-wrapper -->
<!-- End Code -->      
      <script src="/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>    <!-- This is the Bootstrap js file -->
      {% include bits/addthis-sharelayers.html%}                     <!-- Add this Share box on the left of screen -->
</body>
</html>